<?xml version="1.0"?>
<!--
/**
 * This file is part of a FireGento e.V. module.
 *
 * This FireGento e.V. module is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License version 3 as
 * published by the Free Software Foundation.
 *
 * This script is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
 * FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
 *
 * @category  FireGento
 * @package   FireGento_Logger
 * @author    FireGento Team <team@firegento.com>
 * @copyright 2013 FireGento Team (http://www.firegento.com)
 * @license   http://opensource.org/licenses/gpl-3.0 GNU General Public License, version 3 (GPLv3)
 */
 -->
<config>
    <sections>
        <logger translate="label" module="firegento_logger">
            <label>FireGento Logger</label>
            <tab>advanced</tab>
            <frontend_type>text</frontend_type>
            <sort_order>399</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <require_super_admin>1</require_super_admin>
            <groups>
                <general>
                    <label>General</label>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <fields>
                        <targets translate="label">
                            <label>Enabled Targets</label>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>firegento_logger/system_config_source_targets</source_model>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <comment>Logger will write only to enabled targets. To enable a Target, simply click on it. To enable multiple Targets, press CTRL and click on each Target.</comment>
                        </targets>
                        <target_map>
                            <label>Target Map</label>
                            <frontend_model>firegento_logger/adminhtml_system_config_targetmap</frontend_model>
                            <backend_model>adminhtml/system_config_backend_serialized_array</backend_model>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <comment><![CDATA[
                                Use Regular Expressions to specify which messages can be logged to each Target.
                                If no rules are specified, all messages will be logged to all enabled Targets.
                                <strong>Note</strong>: Priority Level filters are not affected by this setting.
                            ]]></comment>
                        </target_map>
                        <priority translate="label">
                            <label>Default Priority Level Filter</label>
                            <frontend_type>select</frontend_type>
                            <source_model>firegento_logger/system_config_source_priorities</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <comment>Choose the lowest priority level to be logged. Can be overridden separately for each writer.</comment>
                        </priority>
                        <format translate="label">
                            <label>Advanced Format</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <comment><![CDATA[
                              "\n" will be replaced with a newline. Available keys:<br/>
                              %timestamp%<br/>
                              %priorityName%<br/>
                              %priority%<br/>
                              %storeCode%<br/>
                              %adminUserId%<br/>
                              %adminUserName%<br/>
                              %timeElapsed%<br/>
                              %hostname%<br/>
                              %requestMethod%<br/>
                              %requestUri%<br/>
                              %requestData%<br/>
                              %remoteAddress%<br/>
                              %httpHost%<br/>
                              %httpCookie%<br/>
                              %sessionData%<br/>
                              %httpUserAgent%<br/>
                              %file%<br/>
                              %line%<br/>
                              %message%<br/>
                              %backtrace%<br/>
                              %requestId%<br/>
                            ]]></comment>
                        </format>
                        <filter_request_data translate="label">
                            <label>Filter Request Data</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>25</sort_order>
                            <show_in_default>1</show_in_default>
                            <comment><![CDATA[
                                Data of the request arrays to be filtered for security reasons.
                                ]]></comment>
                        </filter_request_data>
                        <max_backtrace_lines translate="label">
                            <label>Max Backtrace Lines</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <comment><![CDATA[Enter a number above 0 to enable the %backtrace% key in the Advanced Format or in Graylog2]]></comment>
                        </max_backtrace_lines>
                        <pretty_print translate="label">
                            <label>Pretty Print</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>35</sort_order>
                            <show_in_default>1</show_in_default>
                            <comment><![CDATA[Pretty Print JSON encoded data (request data and session data). Requires PHP 5.4+]]></comment>
                        </pretty_print>
                        <max_data_length translate="label">
                            <label>Max Data Length</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>36</sort_order>
                            <show_in_default>1</show_in_default>
                            <comment><![CDATA[Max length of individual data fields.]]></comment>
                        </max_data_length>
                        <add_session_data translate="label">
                            <label>Add Session Data</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <comment><![CDATA[
                                If "Yes", session data will be added to event data.
                            ]]></comment>
                        </add_session_data>
                        <use_queue translate="label">
                            <label>Queue Events</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>90</sort_order>
                            <show_in_default>1</show_in_default>
                            <comment><![CDATA[
                                When set to "Yes", events will be grouped into a single event, which will be written at the
                                end of each page processing. <br />
                            ]]></comment>
                        </use_queue>
                        <frontend_logger translate="label">
                            <label>Frontend Logger</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>100</sort_order>
                            <show_in_default>1</show_in_default>
                            <comment><![CDATA[
                                When set to "Yes", JS errors in the frontend will be send to an action to
                                send these errors also to the configured logging backend. <br />
                                Note: only if client is not defined in dev/restrict/allow_ips <br />
                            ]]></comment>
                        </frontend_logger>
                        <viewer_enabled translate="label">
                            <label>Enable Log Viewer</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <comment>If "No", the "View Error Log" menu item will not be present.</comment>
                        </viewer_enabled>
                    </fields>
                </general>
                <default translate="label">
                    <label>Files (Magento Default) Configuration</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>20</sort_order>
                    <show_in_default>1</show_in_default>
                    <fields>
                        <priority translate="label">
                            <label>Priority Level Filter</label>
                            <frontend_type>select</frontend_type>
                            <source_model>firegento_logger/system_config_source_prioritydefault</source_model>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <comment>Choose the lowest priority level to be logged.</comment>
                        </priority>
                    </fields>
                </default>
                <advanced translate="label">
                    <label>Files (Advanced Format) Configuration</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>30</sort_order>
                    <show_in_default>1</show_in_default>
                    <fields>
                        <priority translate="label">
                            <label>Priority Level Filter</label>
                            <frontend_type>select</frontend_type>
                            <source_model>firegento_logger/system_config_source_prioritydefault</source_model>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <comment>Choose the lowest priority level to be logged.</comment>
                        </priority>
                    </fields>
                </advanced>
                <json translate="label">
                    <label>Files (JSON Lines)</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>35</sort_order>
                    <show_in_default>1</show_in_default>
                    <fields>
                        <priority translate="label">
                            <label>Priority Level Filter</label>
                            <frontend_type>select</frontend_type>
                            <source_model>firegento_logger/system_config_source_prioritydefault</source_model>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <comment>Choose the lowest priority level to be logged.</comment>
                        </priority>
                    </fields>
                </json>
                <sentry translate="label comment">
                    <label>Sentry Configuration</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>220</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <comment><![CDATA[
                        Sends data to <a href="https://sentry.io" title="Sentry main website">Sentry</a>.
                    ]]></comment>
                    <fields>
                        <public_dsn translate="label comment">
                            <label>DSN</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[
                                The DSN can be found in Sentry by navigating to
                                <nobr>[Project Name] -> Settings -> Client Keys (DSN).</nobr>
                                Its template resembles the following:<br/>
                                <nobr>https://{PUBLIC_KEY}@{HOST}/{PROJECT_ID}</nobr>
                            ]]></comment>
                        </public_dsn>
                        <environment translate="label comment">
                            <label>Environment</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>15</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[
                                Add custom environment label to allow easy filtering
                                (see <a href="https://docs.sentry.io/enriching-error-data/environments/">https://docs.sentry.io/enriching-error-data/environments/</a>).
                            ]]></comment>
                        </environment>
                        <priority translate="label">
                            <label>Priority Level Filter</label>
                            <frontend_type>select</frontend_type>
                            <source_model>firegento_logger/system_config_source_prioritydefault</source_model>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <comment>Choose the lowest priority level to be sent to Sentry.</comment>
                        </priority>
                        <frontend_enabled translate="label comment">
                            <label>Enable Javascript Reporting for Frontend</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[
                                This will add the Sentry client script to the page so that frontend errors will be captured
                                and transmitted to Sentry.io using the above Public DSN.
                            ]]></comment>
                        </frontend_enabled>
                        <adminhtml_enabled translate="label comment">
                            <label>Enable Javascript Reporting for Admin</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <comment><![CDATA[
                                This will add the Sentry client script to the page so that adminhtml errors will be captured
                                and transmitted to Sentry.io using the above Public DSN.
                                <br/>
                                You must add this code to your page/head.phtml adminhtml template:<br/>
                                <code>&lt;?php echo $this->getChildHtml('firegento_logger_sentry') ?&gt;</code>
                            ]]></comment>
                        </adminhtml_enabled>
                    </fields>
                </sentry>
            </groups>
        </logger>
    </sections>
</config>
